.container {
  display: flex;
  position: relative;
  /* margin: 0; */
}

.sidebar {
  background-color: #fff;
  height: 100vh;
  width: 50px;
  z-index: 10;
  padding-left: 10px;
  padding-right: 10px;
  box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  margin-top: 0;
}

.sidebar.open li span,
.sidebar.open li .icon {
  transition: none;
}

.sidebar li {
  padding: 10px;
  padding-left: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  position: relative; /* Add this to make positioning relative to the li */
}

.sidebar li:hover {
  background-color: #f0f0f0;
}

.sidebar li span {
  font-size: 14px;
  opacity: 0;
  transition: opacity 0.3s ease;
  white-space: nowrap; /* Ensures text stays in line */
  pointer-events: none; /* Ignore pointer events for the text */
}

.sidebar li:hover span {
  opacity: 1;
}

.sidebar li .icon {
  opacity: 1;
}

.sidebar li .icon:hover + span {
  opacity: 1;
}

.sidebar .logo img {
  width: 10px;
  height: 40px;
}

.sidebar .logo {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 20px;
}

.content {
  flex: 1;
  padding-left: 80px; /* Adjust to accommodate the sidebar width */
}

.tooltip {
  position: absolute;
  top: 50%;
  left: calc(100% + 10px); /* Adjust based on the sidebar width and spacing */
  transform: translateY(-50%);
  padding: 6px;
  background-color: #333;
  color: #fff;
  border-radius: 4px;
  font-size: 12px;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.icon:hover .tooltip {
  opacity: 1;
}
